src/main/webapp/wsdl/Calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="calculate">
    <complexType>
     <sequence>
      <element name="firstOperand" type="xsd:int"/>
      <element name="secondOperand" type="xsd:int"/>
      <element name="operator" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="calculateResponse">
    <complexType>
     <sequence>
      <element name="calculateReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="calculateRequest">

      <wsdl:part element="impl:calculate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calculateResponse">

      <wsdl:part element="impl:calculateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Calculator">

      <wsdl:operation name="calculate">

         <wsdl:input message="impl:calculateRequest" name="calculateRequest">

       </wsdl:input>

         <wsdl:output message="impl:calculateResponse" name="calculateResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculatorSoapBinding" type="impl:Calculator">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="calculate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calculateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calculateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculatorService">

      <wsdl:port binding="impl:CalculatorSoapBinding" name="Calculator">

         <wsdlsoap:address location="http://localhost:9002/calculator-deploy-v2/services/Calculator"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
